*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

* {
  font-family: "Montserrat", sans-serif;
  color: #42413B; }

li a {
  color: #fff;
  font-size: 12px; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px;
  font-weight: 400px;
  color: #fff;
  text-shadow: 0 0 10px #145691; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

p {
  font-size: 14px;
  text-indent: 42px;
  line-height: 20px;
  max-width: 600px;
  padding: 10px; }

a[class^="button"] {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  background: #D22A31;
  border-radius: 3px; }
  a[class^="button"]:hover {
    background-color: #BD262C; }

a[class$="mid"] {
  padding: 10px 15px;
  font-size: 14px; }

nav.main-menu {
  position: relative;
  height: inherit;
  width: 100%;
  border-bottom: 40px solid #145691;
  z-index: 10; }
  nav.main-menu ul {
    text-align: center;
    margin: 0 auto; }
    nav.main-menu ul li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px; }
      nav.main-menu ul li:nth-of-type(3) {
        vertical-align: -95px; }
      nav.main-menu ul li a {
        text-transform: uppercase;
        text-decoration: none; }
        nav.main-menu ul li a:hover {
          color: #DBD7C3; }
        nav.main-menu ul li a img {
          height: 180px; }

html {
  overflow: scroll; }

a {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

header {
  position: relative;
  height: 100px; }

section .video-viewport {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden; }
  section .video-viewport .main-vid {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -10; }
  section .video-viewport .overlay-words {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%; }
    section .video-viewport .overlay-words .subtitle {
      max-width: 700px;
      margin: 0 auto;
      position: relative;
      top: 130px; }
    section .video-viewport .overlay-words a {
      top: 200px; }
