html {
    overflow: scroll;
}

a {
    @include transition(0.2s);   
}

header {
    position: relative;
    height: 100px;   
}

section {
//    text-align: center;
    .video-viewport {
        position: relative;
        height: 400px;
        width: 100%;
        overflow: hidden;
        .main-vid {
            object-fit: cover;
            height: 100%;
            width: 100%;
            z-index: -10;
        }
        .overlay-words {
            text-align: center;
            position: absolute;
            top: 0;
            width: 100%;
            .subtitle {
                max-width: 700px;
                margin: 0 auto;
                position: relative;
                top: 130px;
            }
            a {
                top: 200px;
            }
        }
    }
}
