a[class^="button"] {
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    background: $red;
    border-radius: 3px;
    &:hover {
        background-color: $red_dark;
    }
}

a[class$="small"] {
    
}

a[class$="mid"] {
    padding: 10px 15px;
    font-size: 14px;
}

a[class$="large"] {
    
}