nav.main-menu {
    position: relative;
    height: inherit;
    width: 100%;
    border-bottom: 40px solid $nav-bar-color;
    z-index: 10;
    ul {
        text-align: center;
        margin: 0 auto;
        li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            &:nth-of-type(3) {
                vertical-align: -95px;   
            }
            a {
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    color: $gray_light;   
                }
                img {
                    height: 180px;
                    
                }
            }
        }
    }
}