* {
    font-family: $font;
    color: $font-color;
}

li a {
    color: #fff;
    font-size: 12px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    font-weight: 400px;
    color: #fff;
    text-shadow: 0 0 10px $blue_dark;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 10px;
}
p {
    font-size: 14px;
    text-indent: 42px;
    line-height: 20px;
    max-width: 600px;
    padding: 10px;
}