@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin rotateX($deg,$px) {
    -webkit-transform: rotateX($deg) translateZ($px);
    -moz-transform: rotateX($deg) translateZ($px);
    -ms-transform: rotateX($deg) translateZ($px);
    -o-transform: rotateX($deg) translateZ($px);
    transform: rotateX($deg) translateZ($px);
}
@mixin translateZ($px) {
    -webkit-transform: translateZ($px);
    -moz-transform: translateZ($px);
    -ms-transform: translateZ($px);
    -o-transform: translateZ($px);
    transform: translateZ($px);
}